<%= form_with(model: question) do |form| %>
    <% if question.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
                <% question.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!-- Title Input -->
    <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
    </div>

    <!-- Level Input -->
    <div>
        <%= form.label :level, style: "display: block" %>
        <%= form.text_field :level %>
    </div>

    <!-- Body Input - Original Sentence -->
    <div>
        <%= form.label :body, style: "display: block" %>
        <%= form.text_field :body %>
    </div>

    <!-- Keyword Input -->
    <div>
        <%= form.label :keyword, style: "display: block" %>
        <%= form.text_field :keyword %>
    </div>

    <!-- Prompt Input - New Sentence -->
    <div>
        <%= form.label :prompt, style: "display: block" %>
        <%= form.text_field :prompt %>
    </div>

    <!-- Answer Input -->
    <div>
        <%= form.label :answer, style: "display: block" %>
        <%= form.text_field :answer %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
