<div id="<%= dom_id question %>">
    <!-- Title -->
    <h2><%= question.title %></h2>

    <!-- Level -->
    <div>
        <strong>Level:</strong>
        <%= question.level %>
    </div>    

    <!-- Question -->
    <div>
        <strong>Question:</strong>
        <%= question.body %>
    </div>

    <!-- KeyWord -->
    <div>
        <strong>Keyword:</strong>
        <%= question.keyword %>
    </div>

    <!-- Prompt -->
    <div>
        <strong>Prompt:</strong>
        <%= question.prompt %>
    </div>

    <!-- Answer -->
    <div>
        <strong>Answer:</strong>
        <%= question.answer %>
    </div>
</div>
