<%= form_with(model: [reading, reading.reading_problems.build]) do |f| %>

    <!-- Index Input -->
    <div>
        <%= f.label :index, style: "display: block" %>
        <%= f.number_field :index %>
    </div>

    <!-- Question Input -->
    <div>
        <%= f.label :question, style: "display: block" %>
        <%= f.text_field :question %>
    </div>

    <!-- Answer Input -->
    <div>
        <%= f.label :answer, style: "display: block" %>
        <%= f.text_field :answer %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>