<!-- Heading -->
<h1 class="text-center"><%= pluralize(@questions.count, "Result") %></h1>

<!-- Results Table -->
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <!-- Title Heading -->
                <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
                <!-- Body Heading -->
                <th><%= sort_link(@query, :body, "Question") %></th>
                <!-- Keyword Heading -->
                <th><%= sort_link(@query, :keyword, "Keywords") %></th>
                <!-- Level Heading -->
                <th><%= sort_link(@query, :level, "Level") %></th>
            </tr>
        </thead>

        <tbody>
            <!-- Renders each question matching search query -->
            <% @questions.each do |question| %>
                <tr>
                    <td><%= link_to question.title, question %></td>
                    <td><%= question.body.truncate_words(25) %></td>
                    <td><%= question.keyword %></td>
                    <td><%= question.level %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
