
<!-- Index -->
<h4>Q.<%= listening_option.index %></h4>

<!-- Question -->
<div>
    <strong>Question:</strong>
    <%= listening_option.question %>
</div>

<!-- Option A -->
<div>
    <strong>A:</strong>
    <%= listening_option.a %>
</div>

<!-- Option B -->
<div>
    <strong>B:</strong>
    <%= listening_option.b %>
</div>

<!-- Option C -->
<div>
    <strong>C:</strong>
    <%= listening_option.c %>
</div>

<!-- Answer -->
<div id="answer-div-<%= listening_option.id %>" class="d-none">
    <strong>Answer:</strong>
    <%= listening_option.answer %>
</div>

<%= link_to "Show Answer", nil, remote: true, class: "btn btn-danger", id: "toggle-button-#{listening_option.id}",
   data: { 
        controller: "listenings", 
        action: "listenings#toggleAnswer",
        listenings_toggle_param: "toggle-button-#{listening_option.id}",
        listenings_answer_param: "answer-div-#{listening_option.id}",
} %>