
<!-- Index -->
<h4>Q.<%= listening_option.index %></h4>

<!-- Question -->
<div>
    <strong>Question:</strong>
    <%= listening_option.question %>
</div>

<!-- Option A -->
<div>
    <strong>A:</strong>
    <%= listening_option.a %>
</div>

<!-- Option B -->
<div>
    <strong>B:</strong>
    <%= listening_option.b %>
</div>

<!-- Option C -->
<div>
    <strong>C:</strong>
    <%= listening_option.c %>
</div>

<!-- Answer -->
<div>
    <strong>Answer:</strong>
    <%= listening_option.answer %>
</div>